NODE_ENV=local
HOST=localhost
PORT=3000

SWAGGER_PATH=docs
ADDRESS=http://localhost:3000

DB_USER=user
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=12345
DB_NAME=vtbdb

JWT_ACCESS=JWT_ACCESS
JWT_REFRESH=JWT_REFRESH
JWT_RECOVERY=JWT_RECOVERY

JWT_ACCESS_EXP=15m
JWT_REFRESH_EXP=30d
JWT_RECOVERY_EXP=5m


UCALLER_INIT_CALL_URL=UCALLER_INIT_CALL_URL
UCALLER_SECRET_KEY=UCALLER_SECRET_KEY
UCALLER_SERVICE_ID=UCALLER_SERVICE_ID

AES_CIPHER_KEY=AES_CIPHER_KEY
AES_CIPHER_IV=AES_CIPHER_IV